#app{
  display: grid;
  /* como o layout é simples pelo figma peguei o tamanho da tela do lado esquerdo q é 656px e multipliquei por 100 depois dividi pelo valor somado pelas duas partes da tela que deu 1280px que deu 51,25 lado esquerdo e o restante direito.*/
  grid-template-columns: 51.25% 48.75%;
  height: 100vh;
  overflow: hidden;
}


main{
  overflow: auto;
  /* calculo do rem pega a quantidade de px e divide por 16 no caso padding 64px/16 = 4*/
  padding: 4rem;


  /* quero q a main container dentro da main tenha uma width limite entao eu pego o tamnho da tela pelo figma q é 528/16 = 33 */
  & .main-container{
    max-width: 33rem;
  }
}

aside{
  background-color: var(--surface-secondary);
  padding: 4rem;
  & .aside-container{
    max-width: 31rem;
  }
}